body {
  font-family: "futura-pt", Helvetica, Arial, sans-serif;
  margin: 50px;
  color: #0033a0;
}

h1 {
  background-color: #0033a0;
  color: #fff;
  font-size: 48px;
  font-style: bold;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 10px;
}

.light-heading {
  font-weight: 100;
  letter-spacing: 4px;
}

img {
  height: auto;
  width: 100%;
}
.quote {
  font-style: italic;
  font-weight: bold;
}

ol {
  margin-bottom: 50px;
}

a {
  background-color: #fff;
  color: #0033a0;
  border: 0.5px solid #0033a0;
  padding: 10px 50px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

a:hover {
  background-color: #0033a0;
  color: #fff;
}
